/!!!temp/
/AlgTest_JavaCard/nbproject/private/*
/AlgTest_JavaCard/!uploader/*
/AlgTest_JavaCard/build/*
/AlgTest_JavaCard/nbproject/project.properties


/AlgTest_JClient/nbproject/private/
/AlgTest_JClient/build/*
/AlgTest_JClient/test/*.jar
/AlgTest_JClient/dist/*
/AlgTest_JClient/nbproject/*


/AlgTest_Process/dist/*
/AlgTest_Process/test-output/*
/AlgTest_Process/build/*
/AlgTest_Process/nbproject/private/*
/AlgTest_Process/nbproject/*
/AlgTest_Process/dist/*

*.class

