/AlgTest_JavaCard/nbproject/private/
/AlgTest_JClient/nbproject/private/
/AlgTest_Process/nbproject/private/
/AlgTest_JavaCard/build/
/AlgTest_JClient/build/
/AlgTest_Process/build/
/AlgTest_JClient/dist/README.TXT
/AlgTest_Process/dist/README.TXT
*.class