/AlgTest_JavaCard/nbproject/private/
/AlgTest_JClient/nbproject/private/
/AlgTest_Process/nbproject/private/
/AlgTest_JavaCard/build/
/AlgTest_JClient/build/
/AlgTest_JClient/test/*.jar
/AlgTest_Process/build/
/AlgTest_JClient/dist/README.TXT
/AlgTest_Process/dist/README.TXT
*.class
/AlgTest_JavaCard/nbproject/project.properties
AlgTest_JavaCard/nbproject/project.properties
AlgTest_JavaCard/!card_uploaders/AlgTest_possibly_uploaded_onGD.cap
AlgTest_JavaCard/nbproject/project.properties
AlgTest_JClient/nbproject/build-impl.xml
AlgTest_JClient/nbproject/genfiles.properties
AlgTest_JClient/nbproject/build-impl.xml
AlgTest_JClient/nbproject/project.properties
